@import "../variables.scss";


.product_modal {
    position: fixed;
    top: 30%;
    left: 30%;
    background-color: white;
    width: 60%;
    z-index: 300;
    display: none;

    &.product_modal__active {
        display: block;
    }
}

main {
    margin-block-start: 7rem;
}

.blocks-wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: map-get($media-breakpoints, point_2)) {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 80px 1fr 80px;
        margin-block-start: 7rem;
        width: 85%;
    }
    

    .sorting-block {
        margin-block: 1.5rem;
        order: 1;

        @media (min-width: map-get($media-breakpoints, point_2)) {
            grid-column-start: 1;
            grid-column-end: 3;
            display: flex;
            justify-content: flex-end;
            order: 0;
        }
        

        .sorting-line {
            display: flex;
            justify-content: center;
            

            @media (min-width: map-get($media-breakpoints, point_2)) {
                display: flex;
                align-items: center;
                width: 25%;
            }

            .sort {
                border: none;
                margin-left: 1rem;
                font: {
                    family: inherit;
                    size: .9em;
                }

                &:focus-visible {
                    outline: none;
                }
            }
        }
    }

    .filter-block {

        @media (min-width: map-get($media-breakpoints, point_2)) {
            display: flex;
            justify-content: center;
        }

        .price-filter-content,
        .color-filter-content{
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (min-width: map-get($media-breakpoints, point_2)) {
                padding: 2rem;
                padding-right: 0;
            }
            
            p {
                margin-block: 1rem;
            }

            .filter-button {
                width: 60%;
                border: 1px solid #e2e2e2;
                margin: 0;
                margin-bottom: .5rem;

                @media (min-width: map-get($media-breakpoints, point_2)) {
                    width: 100%;
                }

                &.active {
                    background-color: map-get($colors,accent);
                }
            }
        }
    }

    .product-cards-block {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        @media (min-width: map-get($media-breakpoints, point_2)) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            order: 0;
        }

        .product-card_single {
            display: grid;
            grid-template-rows: 12fr 1fr 1fr 2fr;
            height: 550px;

            .product-card_single__image {
                width: 100%;
       
            }

            .product-card_info-row {
                display: grid;
                grid-template-columns: 60px 60px 60px;
                align-items: center;
                font-weight: bold;
                margin-inline: 1.5rem;
                font-variant: small-caps;

                p {
                    margin-block: .4rem;
                
                    &:last-of-type {
                        grid-column: 3;
                        justify-self: center;
                    }
                }  
            }

        }
    }

    .show-more-button-block {
        display: flex;
        justify-content: center;
        order: 3;
        
        @media (min-width: map-get($media-breakpoints, point_2)) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            display: flex;
            justify-content: center;
            order: 0;
        }

        .show-more-button {
            width: 40%;
            font-size: 1rem;
            max-width: 300px;
            border: 2px solid map-get($colors, accent);
        }

    }
}
