.product_modal {
  position: fixed;
  top: 30%;
  left: 30%;
  background-color: white;
  width: 60%;
  z-index: 300;
  display: none;
}
.product_modal.product_modal__active {
  display: block;
}

main {
  margin-block-start: 7rem;
}

.blocks-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .blocks-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 80px 1fr 80px;
    margin-block-start: 7rem;
    width: 85%;
  }
}
.blocks-wrapper .sorting-block {
  margin-block: 1.5rem;
  order: 1;
}
@media (min-width: 768px) {
  .blocks-wrapper .sorting-block {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: flex-end;
    order: 0;
  }
}
.blocks-wrapper .sorting-block .sorting-line {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .blocks-wrapper .sorting-block .sorting-line {
    display: flex;
    align-items: center;
    width: 25%;
  }
}
.blocks-wrapper .sorting-block .sorting-line .sort {
  border: none;
  margin-left: 1rem;
  font-family: inherit;
  font-size: 0.9em;
}
.blocks-wrapper .sorting-block .sorting-line .sort:focus-visible {
  outline: none;
}
@media (min-width: 768px) {
  .blocks-wrapper .filter-block {
    display: flex;
    justify-content: center;
  }
}
.blocks-wrapper .filter-block .price-filter-content,
.blocks-wrapper .filter-block .color-filter-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .blocks-wrapper .filter-block .price-filter-content,
.blocks-wrapper .filter-block .color-filter-content {
    padding: 2rem;
    padding-right: 0;
  }
}
.blocks-wrapper .filter-block .price-filter-content p,
.blocks-wrapper .filter-block .color-filter-content p {
  margin-block: 1rem;
}
.blocks-wrapper .filter-block .price-filter-content .filter-button,
.blocks-wrapper .filter-block .color-filter-content .filter-button {
  width: 60%;
  border: 1px solid #e2e2e2;
  margin: 0;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .blocks-wrapper .filter-block .price-filter-content .filter-button,
.blocks-wrapper .filter-block .color-filter-content .filter-button {
    width: 100%;
  }
}
.blocks-wrapper .filter-block .price-filter-content .filter-button.active,
.blocks-wrapper .filter-block .color-filter-content .filter-button.active {
  background-color: #ffd700;
}
.blocks-wrapper .product-cards-block {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .blocks-wrapper .product-cards-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    order: 0;
  }
}
.blocks-wrapper .product-cards-block .product-card_single {
  display: grid;
  grid-template-rows: 12fr 1fr 1fr 2fr;
  height: 550px;
}
.blocks-wrapper .product-cards-block .product-card_single .product-card_single__image {
  width: 100%;
}
.blocks-wrapper .product-cards-block .product-card_single .product-card_info-row {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  align-items: center;
  font-weight: bold;
  margin-inline: 1.5rem;
  font-variant: small-caps;
}
.blocks-wrapper .product-cards-block .product-card_single .product-card_info-row p {
  margin-block: 0.4rem;
}
.blocks-wrapper .product-cards-block .product-card_single .product-card_info-row p:last-of-type {
  grid-column: 3;
  justify-self: center;
}
.blocks-wrapper .show-more-button-block {
  display: flex;
  justify-content: center;
  order: 3;
}
@media (min-width: 768px) {
  .blocks-wrapper .show-more-button-block {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    order: 0;
  }
}
.blocks-wrapper .show-more-button-block .show-more-button {
  width: 40%;
  font-size: 1rem;
  max-width: 300px;
  border: 2px solid #ffd700;
}

/*# sourceMappingURL=catalog.css.map */
